h1{
    background-color: white;
    font-size: larger;
    text-align: center;
}
.sky-02{
    background-color: #065fc5;
    margin: 0%;
    padding: 5px;
}
.sky-01{
    background-color: #064fc5;
    margin: 0%;
    padding: 5px;
}
.sky-03{
    background-color: #066fc5;
    margin: 0%;
    padding: 5px;
}
.sky-04{
    background-color: #067fc5;
    margin: 0%;
    padding: 5px;
}
.sky-05{
    background-color: #068fc5;
    margin: 0%;
    padding: 5px;
}
.sky-06{
    background-color: #069fc5;
    margin: 0%;
    padding: 5px;
}
.sky-07{
    background-color: #6bbddd;
    margin: 0%;
    padding: 5px;
}
.green{
    background-color: #099709;
    margin: 0%;
    padding: 5px;
}
.pink-01{
    background-color: #F5B1CF;
    margin: 0%;
    padding: 5px;
}
.pink-02{
    background-color: #F49EC2;
    margin: 0%;
    padding: 5px;
}
.pink-03{
    background-color: #F28CB4;
    margin: 0%;
    padding: 5px;
}
.pink-04{
    background-color: #F179A6;
    margin: 0%;
    padding: 5px;
}
.pink-05{
    background-color: #F16A97;
    margin: 0%;
    padding: 5px;
}
.pink-06{
    background-color: #F0588B;
    margin: 0%;
    padding: 5px;
}
.pink-07{
    background-color: #EE337F;
    margin: 0%;
    padding: 5px;
}